@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<style>
        .image {
            opacity: 0.8; /* 设置透明度为80% */
            display: block;
            max-width: 100%; /* 确保图片在页面上自适应宽度 */
            height: auto; /* 确保图片的高度按比例调整 */
        }
    </style>

<body>
    <img src="~/lib/IPhoto/16.JPG" alt="555">
</body>
