@model             D05Project.Models.SysAdmin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SysAdmin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="sysId" />
            <div class="form-group">
                <label asp-for="sysname" class="control-label"></label>
                <input asp-for="sysname" class="form-control" />
                <span asp-validation-for="sysname" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="sysgender" /> @Html.DisplayNameFor(model => model.sysgender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="sysbirthday" class="control-label"></label>
                <input asp-for="sysbirthday" class="form-control" />
                <span asp-validation-for="sysbirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="syscId" class="control-label"></label>
                <input asp-for="syscId" class="form-control" />
                <span asp-validation-for="syscId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="syspassword" class="control-label"></label>
                <input asp-for="syspassword" class="form-control" />
                <span asp-validation-for="syspassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

