@model D05Project.Models.ProcurmentSheet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProcurmentSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pNo" />
            <div class="form-group">
                <label asp-for="pDate" class="control-label"></label>
                <input asp-for="pDate" class="form-control" />
                <span asp-validation-for="pDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aId" class="control-label"></label>
                <select asp-for="aId" class="form-control" asp-items="ViewBag.aId"></select>
                <span asp-validation-for="aId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pNote" class="control-label"></label>
                <input asp-for="pNote" class="form-control" />
                <span asp-validation-for="pNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
@await Component.InvokeAsync("VCwithdrawalRecord", new { id = Model.pNo })

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


