@model             D05Project.Models.withdrawalRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>withdrawalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sId" class="control-label"></label>
                <select asp-for="sId" class ="form-control" asp-items="ViewBag.sId"></select>
            </div>
            <div class="form-group">
                <label asp-for="pId" class="control-label"></label>
                <select asp-for="pId" class ="form-control" asp-items="ViewBag.pId"></select>
            </div>
            <div class="form-group">
                <label asp-for="pNo" class="control-label"></label>
                <select asp-for="pNo" class ="form-control" asp-items="ViewBag.pNo"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

